extends layout

block content
  h1 Knowledge - Who wrote this status?
  hr
  .row
    .panel.panel-default
        .panel-heading
          | #{problemStatement}
        .panel-body
          .input-group
            span.input-group-addon
              | #{option1} &nbsp;&nbsp;&nbsp;&nbsp;
              input(type='radio' class='rBtn' name='choice' value='#{option1}')
            span.input-group-addon
              | #{option2} &nbsp;&nbsp;&nbsp;&nbsp;
              input(type='radio' class='rBtn' name='choice' value='#{option2}')
            span.input-group-addon
              | #{option3} &nbsp;&nbsp;&nbsp;&nbsp;
              input(type='radio' class='rBtn' name='choice' value='#{option3}')
            span.input-group-addon
              | #{option4} &nbsp;&nbsp;&nbsp;&nbsp;
              input(type='radio' class='rBtn' name='choice' value='#{option4}')

  script(type='text/javascript').
    answer="#{correctAns}";
    var choices = document.getElementsByClassName('rBtn');
    for(var i = 0; i < choices.length; i++) {
      choices[i].onchange = function() {
        var opt = this.value;
        if (opt == answer) {
          var ansDiv = this.parentNode;
          ansDiv.className = ansDiv.className + ' alert-success';
          console.log('Correct!!');
          $.ajax({
            method:'POST',
            url: '/inc',
            data: { type: 'knowledge' }
          });
          location.reload();
        }  else {
          var wrongDiv = this.parentNode;
          wrongDiv.className = wrongDiv.className + ' alert-danger';
          $.ajax({
            method:'POST',
            url: '/dec',
            data: { type: 'knowledge' }
          });
          location.reload();
        }
      };
    }
